@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

html * {
    font-family: 'Patrick Hand' !important;
    font-size: 20px;
    @media (max-width: 768px) and (orientation: portrait){
        font-size: 16px; 
    }
}

p * {
    margin: 0;
}
.hg-theme-default .hg-row:not(:last-child) {
    margin-bottom: 0;
}
.hg-theme-default .hg-row .hg-button-container, .hg-theme-default .hg-row .hg-button:not(:last-child) {
    margin-right: 0;
}
.hg-theme-default .hg-button {
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}